Анализ данных ресторанов

In [ ]:
import pandas as pd
import requests as rq
import re
web1=rq.get('http://restaurants.task-sss.krasilnikov.spb.ru/60d2f1e9a5d618bdc95426f85848c724')
web = web1.text

Создание датафрейма **restaurant**. Колонка **restaurant** заполняется названиями ресторанов: Lin's Vegetable Lamb Hotpot, PM & Vänner и т.д. Датафрейм сортируется по алфавиту от A до Z.

In [ ]:
pattern1 = '\n<div class="sprite address"></div>\n(.*?)\n'
b=re.findall(pattern1, web)
address = pd.DataFrame(b)
address= address.rename(columns={0: 'address'})
address = address.sort_values('address')
address

                                               address
488  1 Jianguomenwai Street, Chaoyang, Beijing, Chi...
484  1 Shamian South Street, Guangzhou, China Mainland
125  1 avenue Louis-Gaume, Pyla-sur-Mer, 33115, France
466     1 rue de la Forêt, Dudelange, 3471, Luxembourg
197  1 rue des Remparts, La Chapelle-Taillefert, 23...
..                                                 ...
142     viale San Pancrazio 46, Taormina, 98039, Italy
402   viale delle Magnolie 120, Pallanza, 28922, Italy
361     vico Sergente Maggiore 8, Napoli, 80133, Italy
459       vicolo del Duomo 3, Bressanone, 39042, Italy
13                Ørjaveita 4, Trondheim, 7010, Norway

[500 rows x 1 columns]

Создание датафрейма **address**. Колонка **address** заполняется данными о местоположении ресторана. Датафрейм сортируется по алфавиту от A до Z.

In [ ]:
pattern1 = '\n<div class="sprite address"></div>\n(.*?)\n'
b=re.findall(pattern1, web)
address = pd.DataFrame(b)
address= address.rename(columns={0: 'address'})
address

                                               address
0                  327 Jilin Road, Taipei, 104, Taiwan
1                  Storgatan 22, Växjö, 352 31, Sweden
2        2 Na Wat Ket Soi 1 Road, Chiang Mai, Thailand
3    63, Section 2, Zhongshan North Road, Taipei, 1...
4    Next to East 2 Gate, Workers&#x27; Sports Comp...
..                                                 ...
495              21 Rua Caetano, Coloane, Macau, Macao
496           via Ghibellina 87, Firenze, 50122, Italy
497                Pod zidom 5, Zagreb, 10000, Croatia
498  6F Boon the shop, 21 Apgujeong-ro 60-gil, Gang...
499  17, Lane 31, Section 2, Jinshan South Road, Ta...

[500 rows x 1 columns]

Создание датафрейма **average_check**. Колонка **average_check** заполняется числовыми значения среднего чека: 1 - 1,2; 1 - 1,6 и т.д. Колонка **currency** заполняется данными о валюте, в которой представлены числовые значения: TWD, SEK и т.д. Датафрейм сортируется по колонке **currency** и **average_check** по алфавиту от A до Z.

In [ ]:
block = [item.strip().split("\n") for item in re.findall('<i class="avg_hot_meal sprite"></i>([\s\S]*?)</span', web)]

average_check = [item[0] for item in block]
currency = [item[1] for item in block]

average_check = pd.DataFrame({"average_check": average_check, "currency": currency}) \
.sort_values(["currency", "average_check"]) \
.reset_index(drop=True)

average_check

Создание датафрейма **urls**. Колонка **urls** заполняется url ссылками, по которым доступна более подробная информация о ресторанах. Ссылки представлены в коде страницы в следующем виде: /name/Lin&#x27;s Vegetable Lamb Hotpot, /name/PM &amp; Vänner и т.д. Датафрейм сортируется по алфавиту от A до Z.

*Примечание: более подробная информация о ресторанах доступна под кнопкой "More about the place".*

In [ ]:
pattern4='\n\n\n<div class="place_new" id="place_3745">\n<a href="(.*?)">\n'
c=re.findall(pattern4, web)
urls = pd.DataFrame(b)
urls= urls.rename(columns={0: 'urls'})
urls=urls.sort_values('urls')
urls

                                                  urls
488  1 Jianguomenwai Street, Chaoyang, Beijing, Chi...
484  1 Shamian South Street, Guangzhou, China Mainland
125  1 avenue Louis-Gaume, Pyla-sur-Mer, 33115, France
466     1 rue de la Forêt, Dudelange, 3471, Luxembourg
197  1 rue des Remparts, La Chapelle-Taillefert, 23...
..                                                 ...
142     viale San Pancrazio 46, Taormina, 98039, Italy
402   viale delle Magnolie 120, Pallanza, 28922, Italy
361     vico Sergente Maggiore 8, Napoli, 80133, Italy
459       vicolo del Duomo 3, Bressanone, 39042, Italy
13                Ørjaveita 4, Trondheim, 7010, Norway

[500 rows x 1 columns]

Замена в датафрейме **urls**, полученном в предыдущем задании, следующих элементов:


Элемент | Замена
:-----:|:-----:
&amp;quot; | "
&amp;amp; | &
&amp;#39; | '
&amp;#x27; | '

In [ ]:
urls_new=urls.copy()
urls_new=urls_new.replace('&quot;','"', regex=True).replace('&amp;','&', regex=True).replace('&#39',"'", regex=True).replace('&#x27',"'", regex=True)
urls_new

                                                  urls
488  1 Jianguomenwai Street, Chaoyang, Beijing, Chi...
484  1 Shamian South Street, Guangzhou, China Mainland
125  1 avenue Louis-Gaume, Pyla-sur-Mer, 33115, France
466     1 rue de la Forêt, Dudelange, 3471, Luxembourg
197  1 rue des Remparts, La Chapelle-Taillefert, 23...
..                                                 ...
142     viale San Pancrazio 46, Taormina, 98039, Italy
402   viale delle Magnolie 120, Pallanza, 28922, Italy
361     vico Sergente Maggiore 8, Napoli, 80133, Italy
459       vicolo del Duomo 3, Bressanone, 39042, Italy
13                Ørjaveita 4, Trondheim, 7010, Norway

[500 rows x 1 columns]